@font-face {
  font-family: "Archivo Black";
  src:
    url("fonts/ArchivoBlack-Regular.woff") format("woff"),
    url("fonts/ArchivoBlack-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans-Bold";
  src:
    url("fonts/OpenSans-Bold.woff") format("woff"),
    url("fonts/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans-Regular";
  src:
    url("fonts/OpenSans-Regular.woff") format("woff"),
    url("fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans-SemiBold";
  src:
    url("fonts/OpenSans-SemiBold.woff") format("woff"),
    url("fonts/OpenSans-SemiBold.woff2") format("woff2");
}
.body {
  background-color: #111111;
}
/*header*/
.Bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 120px;
}
.Bio__title {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 78px;
  color: hsl(0, 0%, 100%);
}
.Bio__subtitle {
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.Bio__description {
  max-width: 793px;
}
.text {
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.nav {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.nav__menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__menu-link {
  font-family: "Open Sans-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.nav__menu-line {
  margin-top: 5px;
  width: stretch;
}
.bio__img-gradient {
  margin-left: 480px;
  background-image: url(./images/gradient_circle1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.bio__img-profile {
  position: absolute;
  margin-left: 880px;
  margin-top: 108px;
  width: 387px;
  height: 500px;
}
/*main*/
.main {
  margin-left: 120px;
  margin-top: 110px;
  margin-right: 120px;
}
.main__subtitle {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  margin-top: 103px;
}
.main__skills-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  column-gap: 20px;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}
.project__card {
  background-color: #1c1c1c;
  width: 590px;
  height: auto;
  margin-top: 50px;
}
.project__card-image {
  width: 590px;
  height: 330px;
}
.project__card-icon-01 {
  position: absolute;
  margin-left: 12px;
  margin-top: 280px;
}
.project__card-icon-02 {
  position: absolute;
  margin-left: 62px;
  margin-top: 280px;
}
.project__card-box {
  display: flex;
  background-color: #1c1c1c;
  height: 340px;
  margin: 30px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.project__card-title {
  position: relative;
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}
.project__card_links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 320px;
  position: absolute;
  flex-wrap: nowrap;
}
.project__card_linkdemo {
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #6d6dff;
  text-decoration: none;
}
.projects__linkgithub {
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/*Footer*/
.footer {
  position: relative;
  margin-left: 120px;
  margin-top: 100px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__subtitle {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  margin-top: 103px;
}
.footer__contact-link {
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #6d6dff;
  text-decoration: none;
}
.footer__social-links {
  display: flex;
  column-gap: 80px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.footer__gradient-bgimg {
  margin-top: 1428px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .Bio__title {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: hsl(0, 0%, 100%);
  }
  .bio__img-gradient {
    margin-left: 280px;
  }
  .bio__img-profile {
    margin-left: 670px;
    margin-top: 108px;
    width: 193.5px;
    height: 250px;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
  }
  .main__subtitle {
    font-size: 32px;
    margin-top: 60px;
  }
  .main {
    width: 767px;
    margin-left: 120px;
    margin-right: 120px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: baseline;
    flex-direction: column;
    align-content: space-around;
  }
  .footer {
    position: relative;
    display: flex;
    margin-left: 220px;
    align-items: center;
    flex-direction: column;
  }
  .footer__gradient-bgimg {
    margin-top: 2080px;
    margin-left: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
}
